.formContainer {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.formElements {
    margin: 10px;
    display: flex;
    flex-direction: column;
}

.button {
    margin: 12px 0 0 0;
    width: 100%
}

.errorField {
    color: red;
    margin: 4px;
}